{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <h2 class="mb-3">Items</h2>
      <div class="container">
        <div class="row">
          {% for item in items %}
            <div class="col-4 my-3 px-2">
              <div class="shadow rounded p-4 col-12 h-100 {{'bg-secondary' if item.status == 'Done' else ''}}">
                <div class="d-flex flex-column h-100">
                  <h5>{{item.name}}</h5>
                  <p class="flex-grow-1 font-weight-lighter">{{item.description}}</p>
                  {% if item.status == 'Done' %}
                    <a href="{{url_for('reopen_item', item_id=item.id)}}" class="btn btn-light">Reopen</a>
                  {% else %}
                    <a href="{{url_for('complete_item', item_id=item.id)}}" class="btn btn-info">Mark complete</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <form action="/add" method="post">
        <div class="d-flex align-items-center">
          <input type="text" name="item" id="item" class="form-control" placeholder="Add an item..." required />
          <button type="submit" class="btn btn-success px-3 mx-2">Add</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}